* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana;
}

a:link {
  font-style: italic;
  color: rgb(95, 95, 95);
}
a:visited {
  font-style: italic;
  color: rgb(148, 79, 79);
}

a:active {
  font-style: italic;
  color: black;
}

a:hover {
  font-style: italic;
  background-color: white;
}

.container {
  width: 800px;
  margin: 50px auto;
  border: solid 2px rgb(0, 0, 0);
}

.container-title {
  font-style: italic;
  color: white;
  background-color: black;
}
